.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que la barre de navigation est toujours au-dessus des autres éléments */
}
.layout {
  padding-top: 39px; /* Remplacez 60px par la hauteur de votre barre de navigation */
}